@import "clearless/all.less";

// ***** COLORS ***** //

// Raw colors

@black: black;
@white: white;

// Applied colors 


// ***** SIZES ***** //

@desktop-large-min: 1200px;
	@desktop-small-max: @desktop-large-min - 1px;

@desktop-small-min: 980px;
	@tablet-max: @desktop-small-min - 1px;

@tablet-min: 768px;
	@mobile-large-max: @tablet-min - 1px;

@mobile-large-min: 500px;
	@mobile-small-max: @mobile-large-min - 1px;

// ***** SITE-SPECIFIC MIXINS ***** //


// ***** FONTS ***** //


// ***** GENERIC MIXINS ***** //

.clearer() {
	&:after {
		content: ".";
		display: block;
		height: 0px;
		clear: both;
		visibility: hidden;
	}
}

.list-reset() {
	margin: 0px;
	padding: 0px;
	text-indent: 0px;
	list-style: none;
	list-style-type: none;
	list-style-image: none;

	li {
		margin: 0px;
		padding: 0px;
		text-indent: 0px;
		list-style: none;
		list-style-type: none;
		list-style-image: none;
	}
}

.hide-text() {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.centered-menu() {
	width: 100%;
	overflow: hidden; // Comment out sometimes?

	> ul {
		position: relative;
		float: right;
		right: 50%;

		> li {
			position: relative;
			float: left;
			left: 50%;
		}
	}
}