.frame(@margin: 0px) {
	@gutter: @margin * 2;
	width: @desktop-small-min - @gutter;
	margin: auto;

	@media only screen and (min-width: @desktop-large-min) {
		width: @desktop-large-min - @gutter;
	}

	@media only screen and (max-width: @tablet-max) and (min-width: @tablet-min) {
		width: @tablet-min - @gutter;
	}

	@media only screen and (max-width: @mobile-large-max) {
		.mobile-full();
	}
}

.mobile-full() {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.frame-cancel() {
	.clearer-cancel();
	width: 100%;
	margin: 0px;

	// FIXME: Do I need media queries here? I had them on eVersity, but I don't think I had to?
}

.cols-width(@num, @full-width, @margin: 10px) {
	@gutter: @margin * 2;
	@full-col: @full-width / 12;
	@col-width: @full-col - @gutter;

	margin-left: @margin;
	margin-right: @margin;
	width: @num * @full-col - @gutter;
}

.cols(@num, @float: left) {
	float: @float;

	.cols-width(@num, @desktop-small-min);

	@media only screen and (min-width: @desktop-large-min) {
		.cols-width(@num, @desktop-large-min);
	}

	@media only screen and (max-width: @tablet-max) and (min-width: @tablet-min) {
		.cols-width(@num, @tablet-min);
	}

	@media only screen and (max-width: @mobile-large-max) {
		width: auto;
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
}

.cols(inner, @num, @float: left) {
	.cols(@num, @float);

	&:first-child {
		margin-left: 0px;
	}

	&:last-child {
		margin-right: 0px;
	}
}

.distribute-center(@overflow: hidden, @offset-v: 1px) {
	text-align: justify;
	overflow: @overflow;

	&:after {
		content: '';
		display: inline-block;
		width: 100%;
	}

	&:before {
		content: '';
		display: block;
		margin-top: -@offset-v + 1px;
	}

	> * {
		display: inline-block;
		margin-right: -0.25em;
	//	position: relative;
		margin-top: @offset-v - 2px;
	}
}

.sticky-footer(@footer-height: @footer-height) {
	&, body {
		height: 100%;
	}

	#page-wrapper {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto -@footer-height;
	}

	footer, #push {
		height: @footer-height;
	}

	body.admin-menu {
		margin-top: 0px !important;
		padding-top: @admin-menu-y;
	}

	@media only screen and (max-width: @tablet-max) {
		.sticky-footer-cancel();
	}
}

.sticky-footer-cancel() {
	&, body {
		height: auto;
	}

	#page-wrapper {
		min-height: 0px;
		height: auto !important;
		margin: 0 auto;
	}

	footer, #push {
		height: auto;
	}

	body.admin-menu {
		padding-top: 29px;
	}
}

.clearer() {
	&:after {
		content: ".";
		display: block;
		font-size: 0.1px;
		height: 0px;
		clear: both;
		visibility: hidden;
	}
}

.clearer-cancel() {
	&:after {
		content: none;
	}
}

.list-reset() {
	display: block;
	margin: 0px;
	padding: 0px;
	text-indent: 0px;
	list-style: none;
	list-style-type: none;
	list-style-image: none;
}

.hide-text() {
	font-size: 0.1px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.centered-menu(@overflow: hidden) {
	width: 100%;
	overflow: @overflow; // Comment out sometimes?

	> ul {
		position: relative;
		float: right;
		right: 50%;

		> li {
			position: relative;
			float: left;
			left: 50%;
		}
	}
}

.vertical-center() {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.horizontal-center() {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.all-center() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}